body {
  height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: whitesmoke;
  font-size: x-large;
}
button {
  margin: 8px;
  border-radius: 15px;
  background-color: aqua;
  padding: 5px 15px;
}
input {
  border-radius: 15px;
  padding: 5px 15px;
}
